html {
    height:100%;
}
body {
    background-color: #f5f5f5;
    height:auto;
    min-height:100%;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 30px auto 20px auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.remember-me-cbx {
    margin:0 0 0 !important;
}
.remember-me-lbl {
    display:inline-block;
    padding-left:5px;
}

.form-generic-container {
}
.form-generic {
    max-width:600px;
    padding:19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    text-align:center;
}
.form-generic .form-generic-heading,
.form-generic .checkbox {
    margin-bottom: 10px;
}
    .form-generic input[type="text"],
    .form-generic input[type="tel"],
    .form-generic input[type="datetime"],
    .form-generic input[type="date"],
    .form-generic input[type="email"],
    .form-generic select,
    .form-generic input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 5px;
        padding: 7px 9px;
    }
.form-generic-column {
    display:inline-block;
    max-width:300px;
    vertical-align:top;
    margin:0px 15px 0px 15px;
    min-width:226px;
}

.form-line {
    display:block;
    text-align:left;
}
    .form-line label {
        display:inline-block;
    }
    .form-line textarea {
        max-width:250px;
    }
    .form-line select {
        max-width:206px;
    }
    .field {
        margin: 9px 9px 9px 0px;
        font-weight:bold;
        min-width:100px;
        min-height:30px;
    }
    .display {
        margin: 9px 9px 9px 0px;
        font-weight:bold;
        min-width:100px;
        min-height:30px;
    }
.form-line-double-left {
    padding-right:20px;
    display:inline-block;
}
    .form-line-double-left input[type="text"] {
        width:80px;
    }
    .form-line-double-left label {
        display:block;
    }
.form-line-double-right {
    display:inline-block;
}
    .form-line-double-right input[type="text"] {
        width:80px;
    }
    .form-line-double-right label {
        display:block;
    }

.centered {
    text-align:center;
}

.right-spacing-small {
    margin-right:12px;
}
.top-spacing-small {
    margin-top:15px;
}
.btn-left {
    float:left;
    margin-left:20px;
    width:100px !important;
}
.btn-right {
    float:right;
    margin-right:20px;
    width:100px !important;
}
#buttons {
    float:left;
    display:inline-block;
}
.small-tbx {
    width:50%;
}
.btn-small {
    height:36px;
    width:68px !important;
    margin-bottom:5px;
}
input[type="date"] {
    margin-bottom:0px;
}
/*========================================STICKY FOOTER CSS================================*/
#wrap {
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

#push,
#footer {
    height: 40px;
}
#footer {
    /*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container {
    width: auto;
    max-width: 680px;
}
.container .credit {
    margin: 10px 0;
}

/*===============================Other CSS=================================*/
#event-table {
    display:inline-block;
}
.table {
    max-width:1000px;
    padding:19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.nav-list > li > a {
    font-size:22px;
    margin-top:10px;
    margin-bottom:10px;
}
.sidebar-nav {
    height:32em;
}
.sidebar {
    margin-right:30px;
}

#user-info {
    float:right;
    text-align:right;
    margin-right:20px;
    margin-top:20px;
}

#user-info span,
#user-info a {
	margin-right:10px;
}

.pagination > li {
    display:inline-block;
    margin:5px;
}
    .pagination .active > a {
        color:#000;
    }

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

.grower {
    height:100%;
    width:100%;
    vertical-align:bottom;
}