/*================================CHANGE BTN COLOR FROM BLUE TO SOGETI ORANGE===================================*/
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #F56F3B;
    *background-color: #F5443B;
    background-image: -moz-linear-gradient(top, #F5883B, #F5443B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5883B), to(#F5443B));
    background-image: -webkit-linear-gradient(top, #F5883B, #F5443B);
    background-image: -o-linear-gradient(top, #F5883B, #F5443B);
    background-image: linear-gradient(to bottom, #F5883B, #F5443B);
    background-repeat: repeat-x;
    border-color: #F5883B #F5883B #F52a3B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #F5443B;
  *background-color: #F5443B;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #F5332A;
}

/*================================CHANGE INPUT BOX GLOW FROM BLUE TO SOGETI YELLOW===================================*/
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(200, 200, 0, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

/*================================SET BACKGROUND THEMING===================================*/
#main {
   position: relative;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*Image From: http://fineartamerica.com/featured/1-world-map-in-red-michael-tompsett.html */
    /*Image Author: Michael Tompsett*/
    background-image: url("../img/world-dotted.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    width: 100%;
    height: 100%;
    /*min-height:800px;*/
    opacity : 0.1;
    z-index: -1;
}
/*===================================HEADER====================================*/
header {
	text-align:left;
}
#head {
    width:900px;
    height: 175px;
    position: relative;
    margin-bottom:20px; margin-top:-1px;
    display:inline-block;
}
#head:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/sogeti-logo-rounded2.png");
    background-repeat:no-repeat;
    background-size:contain;
    width: 100%;
    height: 100%;
    opacity : 0.9;
    z-index: -1;
}
/*===================================SIDE NAV BAR====================================*/
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #F5443B;
}
.well {
    background-color:#fff;
}
/*===================================TABLE====================================*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #FFDDCC;
}
.table > thead > tr > th > a {
    color:#F04139;
}
.table > tbody > tr > td > a {
    color:#F04139;
    text-decoration:underline;
}
.display {
    border-bottom:1px solid lightsalmon;
}